DB_URL=jdbc:mysql://<mysql-host>:3306/classicmodels?useSSL=false&serverTimezone=UTC
DB_USERNAME=<mysql-username>
DB_PASSWORD=<mysql-password>
VAULT_URL=http://<vault-host>:8200
VAULT_TOKEN=<vault-token>
