/target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Logs ###
*.log

### Environment Variables ###
.env
src/main/resources/bootstrap.yml